<!DOCTYPE html>
<html lang="sv-SE">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Västerås</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f545439853.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="compiled/custom.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../../compiled/tsc.js"></script>

    <div class="bg-light">
    
        <!-- alt language links -->
        <ul class="container ml-auto navbar-nav d-md-flex flex-row flex-wrap justify-content-end lang-select">
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Lyssna
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Lättläst
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Teckenspråk
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Suomeksi
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Other languages
                </a>
            </li>
        </ul>
        <!-- /alt language links -->
    
        <!-- logo row -->
        <div class="navbar navbar-expand-lg navbar-light container py-0">
            <a class="navbar-brand d-none d-md-block" href="#" onclick="routeToPage(HomePage)"><img src="../../images/logo.svg"
                    alt="Västerås Stad" width="284" height="113.95" /></a>
            <a class="navbar-brand d-md-none" href="#" onclick="routeToPage(HomePage)"><img src="../../images/logo.svg"
                    alt="Västerås Stad" width="147.233" height="57" /></a>
            <button class="navbar-toggler ml-auto my-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- /logo row -->
    
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light container pt-0">
    
    
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="./views/pageindex/edupageindex.html" tabindex="-1" aria-disabled="true">
                            <div class="px-2 py-1 rounded-pill text-center text-light bg-primary">Barn och utbildning <span class="sr-only">(här är du)</span></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./views/pageindex/helppageindex.html">
                            <div class="px-2 py-1 rounded-pill text-center text-light bg-primary">Omsorg, stöd och&nbsp;hjälp</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./views/pageindex/exppageindex.html">
                            <div class="px-2 py-1 rounded-pill text-center text-light bg-primary">Uppleva och göra</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./views/pageindex/buildpageindex.html">
                            <div class="px-2 py-1 rounded-pill text-center text-light bg-primary">Bygga, bo och&nbsp;miljö</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./views/pageindex/transpageindex.html">
                            <div class="px-2 py-1 rounded-pill text-center text-light bg-primary">Trafik och gator</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./views/pageindex/jobpageindex.html">
                            <div class="px-2 py-1 rounded-pill text-center text-light bg-primary">Näringsliv och arbete</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./views/pageindex/polpageindex.html">
                            <div class="px-2 py-1 rounded-pill text-center text-light bg-primary">Kommun och politik</div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /navbar -->
    </div>

    <main class="container">
        <h2>Förskola</h2>
        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Filter" aria-label="Filter" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrera</button>
            </form>
            <div>
                <h3>Populära sidor och artiklar</h3>
                <script>
                    render(document.currentScript, [
                        '<h1 class="bg-primary">it works!!</h1>'
                    ])
                </script>
            </div>

            <div>
                <h3>Rekommenderade sidor och artiklar</h3>
            </div>
        </div>
    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>