<!DOCTYPE html>
<html lang="sv-SE">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Västerås</title>

    <script src="https://kit.fontawesome.com/f545439853.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../compiled/custom.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../../compiled/tsc.js"></script>

    <!-- header -->
    <header class="bg-light">

        <!-- alt language links -->
        <ul class="container ml-auto navbar-nav d-md-flex flex-row flex-wrap justify-content-end lang-select">
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Lyssna
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Lättläst
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Teckenspråk
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Suomeksi
                </a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link d-inline-block" href="#">
                    Other languages
                </a>
            </li>
        </ul>
        <!-- /alt language links -->

        <!-- logo row -->
        <div class="navbar navbar-expand-lg navbar-light container py-0">
            <a class="navbar-brand d-none d-md-block" href="../../index.html" onclick="routeToPage(HomePage)"><img
                    src="../../images/logo.svg" alt="Västerås Stad" width="284" height="113.95" /></a>
            <a class="navbar-brand d-md-none" href="../../index.html" onclick="routeToPage(HomePage)"><img src="../../images/logo.svg"
                    alt="Västerås Stad" width="147.233" height="57" /></a>
            <button class="navbar-toggler ml-auto my-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- /logo row -->

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light container pt-0">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item text-center active">
                        <a class="nav-link px-3 m-1 rounded-pill bg-primary text-light disabled"
                            href="./views/pageindex/edupageindex.html" tabindex="-1" aria-disabled="true">
                            Barn och utbildning <span class="sr-only">(här är du)</span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link px-3 m-1 rounded-pill bg-primary text-light"
                            href="./views/pageindex/helppageindex.html">
                            Omsorg, stöd och&nbsp;hjälp
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link px-3 m-1 rounded-pill bg-primary text-light"
                            href="./views/pageindex/exppageindex.html">
                            Uppleva och göra
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link px-3 m-1 rounded-pill bg-primary text-light"
                            href="./views/pageindex/buildpageindex.html">
                            Bygga, bo och&nbsp;miljö
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link px-3 m-1 rounded-pill bg-primary text-light"
                            href="./views/pageindex/transpageindex.html">
                            Trafik och gator
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link px-3 m-1 rounded-pill bg-primary text-light"
                            href="./views/pageindex/jobpageindex.html">
                            Näringsliv och arbete
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link px-3 m-1 rounded-pill bg-primary text-light"
                            href="./views/pageindex/polpageindex.html">
                            Kommun och politik
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /navbar -->
    </header>
    <!-- /header -->

    <!-- bubble link -->
    <template id="bubblelink">

        <a href="http://" class="text-light border-light">
            <div class="rounded-pill bg-primary py-2 px-3 m-1">
                TODO
            </div>
        </a>
    </template>
    <!-- /bubble link -->

    <main class="container d-flex flex-column">
        <h1 class="my-5 mx-auto text-center">Barn och utbildning</h1>

        <!-- förskola -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseForskola" role="button" aria-expanded="false"
                aria-controls="collapseForskola">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Förskola <img href="../../images/caretdown.svg" width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseForskola">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsForskola"
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                    <datalist id="optionsForskola">
                        
                    </datalist>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">

                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /förskola -->
        
        <!-- grundskola -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseGrundskola" role="button" aria-expanded="false"
                aria-controls="collapseGrundskola">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Grundskola <img href="../../images/caretdown.svg" width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseGrundskola">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsGrundskola"
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">



                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /grundskola -->

        <!-- gymnasieskola -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseGymnasieskola" role="button" aria-expanded="false"
                aria-controls="collapseGymnasieskola">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Gymnasieskola <img href="../../images/caretdown.svg" width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseGymnasieskola">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsGymnasieskola"
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">



                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /gymnasieskola -->

        <!-- särskola -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseSarskola" role="button" aria-expanded="false"
                aria-controls="collapseSarskola">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Särskola <img href="../../images/caretdown.svg" width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseSarskola">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsSarskola" 
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">



                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /särskola -->

        <!-- kulturskola -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseKulturskola" role="button" aria-expanded="false"
                aria-controls="collapseKulturskola">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Kulturskola <img href="../../images/caretdown.svg" width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseKulturskola">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsKulturskola"
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">



                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /kulturskola -->

        <!-- vuxenutbildning -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseVuxenutbildning" role="button" aria-expanded="false"
                aria-controls="collapseVuxenutbildning">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Vuxenutbildning <img href="../../images/caretdown.svg" width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseVuxenutbildning">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsVuxenutbildning"
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">



                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /vuxenutbildning -->

        <!-- högskolaochyrkeshögskola -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseHogskolaOchYrkeshogskola" role="button" aria-expanded="false"
                aria-controls="collapseHogskolaOchYrkeshogskola">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Högskola och yrkeshögskola <img href="../../images/caretdown.svg"
                            width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseHogskolaOchYrkeshogskola">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsHogskolaOchYrkeshogskola"
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">



                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /högskolaochyrkeshögskola -->

        <!-- övrigt -->
        <div class="bg-light p-3 m-4 rounded">

            <!-- header -->
            <a data-toggle="collapse" href="#collapseOvrigt" role="button" aria-expanded="false"
                aria-controls="collapseOvrigt">
                <div class="d-flex m-2">
                    <h2 class="mx-auto text-dark">Övrigt inom barn och utbildning <img href="../../images/caretdown.svg"
                            width="1"></h2>
                </div>
            </a>
            <!-- /header -->

            <!-- link list -->
            <div class="collapse" id="collapseOvrigt">

                <!-- filter form -->
                <form class="form-inline row my-5 mx-auto my-lg-0">
                    <input class="form-control mr-sm-2 col" type="search" placeholder="Ange sökord" list="optionsOvrigt"
                        aria-label="Filter" />
                    <button class="btn btn-success my-2 my-sm-0 col-sm-3 " type="submit">Filtrera</button>
                </form>
                <!-- /filter form -->

                <!-- results -->
                <div class="d-flex flex-wrap my-3">



                </div>
                <!-- /results -->

            </div>
            <!-- /link list -->

        </div>
        <!-- /övrigt -->



    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>